<section class="profile-container">
    <div class="profile-info-window">
        <div class="profile-picture-container">
            <img class="profile-picture" src="/icons/signup-player-icon.svg">
            <div class="profile-personal-info-container">
                <h1 class="personal-info-name">{{firstname}}</h1>
                <h2 class="personal-info-location">{{location}}</h2>
            </div>
        </div>
        <div class="profile-header-art"></div>
        <div class="profile-info-container">
            <div class="contact-info-container">
                <div class="contact-info-line">
                    <h4 class="contact-info-line-title">Sport:</h4>
                    <h4 class="contact-info-line-data">{{preferred-sport}}</h4>
                </div>
                <div class="contact-info-line">
                    <h4 class="contact-info-line-title">Avaiable to play:</h4>
                    <h4 class="contact-info-line-data">{{play_frequency}}</h4>
                </div>
                <div class="contact-info-line">
                    <h4 class="contact-info-line-title">Username:</h4>
                    <h4 class="contact-info-line-data">{{username}}</h4>
                </div>
                <div class="contact-info-line">
                    <h4 class="contact-info-line-title">Email:</h4>
                    <h4 class="contact-info-line-data">{{email}}</h4>
                </div>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</section>